body{
    padding:0;
    margin:0;
}
header nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    font-family: 'Ubuntu',sans-serif;
    padding: 15px 12px;
    border-bottom: 2px solid #0e0e0e;
    margin: 0;
}
header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: #0e0e0e;
    font-size: 18px;
}
header nav ul li a:hover{
    text-decoration: underline;
    color: #ff1493;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu',sans-serif;
}

.bigbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url('../ng-creative-ygZZXuM08jU-unsplash.jpg');
    background-size: cover;
}

.bigbox h1:first-child, strong, h2, cite> a{
    color: #ff1493;
}

.clearfix{
    margin-left: 12%;
    max-width: 60%;
}

footer{
    border-top: 2px solid #0e0e0e;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-family: 'Ubuntu',sans-serif;

}

img{
    border-radius: 15px;
    border: 1px solid #0e0e0e;
}

